# docker-compose.yml
services:
  frontend:
    build: .
    container_name: shop-thuc-pham
    ports:
      - "3002:3002"
    env_file:
      - .env.prod
    environment:
      - NODE_ENV=production
    restart: unless-stopped